Your links!

<form action="/new">
  <input type="submit" value="Save a new link">
</form>

<form action="/filtered_links" method="post">
  <input type="text" name="tag_filter">
  <input type="submit" value="submit">
</form>

<div>
    <% @links.each do |link| %>
        <ul id='links'>
          <li><%=link.title%></li>
          <li><%=link.url %></li>
          <li><% link.tags.each do |tag| %>
            <%= tag.tag_name %></p>
            <% end %>
          </li>
        </ul>
    <%end%>
</div>
