Your links!

<form action="/new" method="gets">
  <input type="submit" value="Save a new link">
</form>

<div>
    <% @links.each do |link| %> <!-- Or whatever variable you would like to pass -->
        <ul id='links'>
          <li><%=link.title%></li>
          <li><%=link.url %></li>
          <% link.tags.each do |tag| %>
            <li> <%= tag.tag_name %> </li>
          <% end %>
        </ul>
    <%end%>
</div>
