Your links!

<form action="/new" method="gets">
  <input type="submit" value="Save a new link">
</form>

<div>
    <% @links.each do |link| %>
        <ul id='links'>
          <li><%=link.title%></li>
          <li><%=link.url %></li>
          <li><%link.tags.map(&:tag_name).join(', ')%></li>
        </ul>
    <%end%>
</div>
